html {
    color: rgba(255, 255, 255, 0.8);
    background-color: #222;
}

.path-frontpage {
    background-color: #000;
}

h1, h2, h3 {
    font-family: 'Proxima Nova';
    color: rgba(255, 255, 255, 0.8);
}

h4 {
    font-family: 'Proxima Nova';
    font-weight: 300;
    font-size: 20px;
}

h4>span {
    font-family: Georgia;
    font-style: italic;
    font-weight: 200;
}

h1.proxima, h2.proxima, h3.proxima, h4.proxima, h5.proxima, h6.proxima {
    font-family: 'Proxima Nova';
}

h1.proxima a, h2.proxima a, h3.proxima a, h4.proxima a, h5.proxima a, h6.proxima a {
    color: #242424;
}

h1.proxima a:hover, h2.proxima a:hover, h3.proxima a:hover, h4.proxima a:hover, h5.proxima a:hover, h6.proxima a:hover {
    text-decoration: none;
}

h1.page-title {
    color: #fff;
    margin-top: 35px;
    font-weight: 100;
}

h2 {
    font-size: 45px;
}

em {
    color: #00A8E6;
}

.secondWord {
    font-family: Georgia, sans-serif;
    font-style: italic;
    font-weight: normal;
}

#header {
    background: transparent;
    padding: 10px 0;
}

.path-frontpage #header {
    background: transparent;
}

#header.uk-active {
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 5px 0 50px #000;
}

.path-frontpage .page-title {
    display: none;
}

.context-enterprise-drupal-holiday-offer h1 {
    display: none;
}

.uk-contrast h1 {
    font-size: 50px;
    color: #4BB8F6;
    margin-top: 20%;
}

.footwrap {
    padding: 50px 0 100px;
}

.footwrap h2 {
    font-size: 13px;
    text-transform: uppercase;
}

.footwrap .uk-nav>li>a {
    padding: 5px 0;
}

.hideright, .showright {
    width: 28px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 100px;
    cursor: pointer;
}

.hideright:hover, .showright:hover {
    background-position: left bottom;
}

.hideright {
    background-image: url(../img/hideright.png);
    background-position: 0 0;
}

.showright {
    background-image: url(../img/showright.png);
    background-position: 0 0;
}

.uk-navbar {
    background: transparent;
}

#header .uk-navbar-nav>li>a {
    text-shadow: none;
    color: #eee;
    border-radius: 4px;
}

#header .uk-navbar-nav>li>a:hover {
    color: #fff;
    border-radius: 4px;
}

#header .uk-navbar-nav .menu-item {
    padding-top: 8px;
}

.uk-navbar-brand {
    height: 52px;
    padding: 15px 15px 0 5px;
}

.uk-navbar-content a:hover, .uk-navbar-content a.uk-active {
    text-shadow: none;
    background-color: #0099bb;
}

.uk-navbar-toggle {
    color: #fff;
    text-shadow: none;
    height: 55px;
}

.bc-rightbar {}

table.dyn-rightbar {
    width: 100%;
    border: 0;
    border-collapse: collapse;
}

.tablerightcol {
    width: 260px;
    background: #333;
    position: relative;
}

.tableleftcol {
    border-collapse: collapse;
    border: 0;
    padding: 0;
    background: #e5e5e5;
    position: relative;
}

.uk-dark .uk-panel {
    background: #292f33;
}

.bc-panel h2 {
    color: white;
    font-size: 52px;
    font-family: 'Proxima Nova';
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1.2em;
    font-weight: 300;
}

.bc-panel h5 {
    color: #555;
    font-size: 18px;
    margin-bottom: 40px;
}

#block-contextdrivencommerce h5 {
    color: #AAA;
    font-size: 18px;
    margin-bottom: 50px;
}

#block-enterprisedrupal {}

#block-missionnewslettersgnup {}

#block-contextdrivencommerce {
    background-image: url(../img/whyd8.jpg?12);
    background-color: #555;
    background-size: cover;
    background-position: right center;
}

#block-contextdrivencommerce h2 {
    color: #fff;
    font-weight: 200;
}

#block-contentmanagement {
    background: #fff;
    background-image: url(../img/shortstack.jpg);
    border-top: 1px solid #ddd;
    padding-bottom: 100px;
    background-size: cover;
    background-position: center top;
}

.lowercontent {
    background-image: url(../img/simplestorebg.jpg);
    background-size: cover;
    background-position: center top;
}

#block-contentmanagement h2 {
    color: #222;
    font-weight: 200;
}

.bc-widewhite {
    border-bottom: 1px solid #ddd;
}

.bc-widewhite p {
    line-height: 2em;
}

.uk-panel-box p {
    font-family: 'Proxima Nova';
    font-weight: 300;
    margin: 0 15px 0 15px;
    display: block;
    font-size: 16px;
    line-height: 1.7em;
}

.qodecta p {
    margin: 0;
    ;
}

.uk-panel-box {
    background: #fff;
}

.box1 {
    background-color: #2d2f35;
    color: #eee;
}

.tall {
    padding-bottom: 20px;
}

.box1 h4 {
    color: #eee;
}

.box4 {
    background-color: #f0edde;
}

.bc-botblock {
    display: block;
    padding: 0 0 25px 0;
}

.uk-grid.bc-gridcollapseright {}

.uk-panel-box>.uk-panel-teaser {
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
}

.uk-panel-box.shadow {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}

.uk-dark .uk-panel-box {
    border-color: transparent;
}

.famargin {
    margin-bottom: 75px;
}

.bc-viewmore {
    margin-bottom: 95px;
}

.uk-back-black {
    background: none #333;
}

.path-frontpage .uk-back-black {
    background: url(../img/footerclouds.png) no-repeat #333;
    background-position: center top;
    color: white;
    background-size: cover;
}

.bc-content-home {
    background-color: #000;
}

.uk-subnav-pill>*>* {
    background: #fafafa;
    color: #444;
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(90, 90, 90, .05);
}

.uk-subnav-pill>*> :focus, .uk-subnav-pill>*> :hover {
    background: #0099bb;
    color: #eee;
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
}

.rb-sidenav {
    border-left: 1px solid #f5f5f5;
}

.uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: #242424;
    outline: 0;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    border-left-color: rgba(0, 0, 0, .1);
    border-right-color: rgba(0, 0, 0, .1);
    border-top-color: rgba(0, 0, 0, .1);
}

.uk-navbar-nav>li.uk-open>a {
    background-color: #00A8E6;
    color: #fff;
    outline: 0;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    border-left-color: rgba(0, 0, 0, .1);
    border-right-color: rgba(0, 0, 0, .1);
    border-top-color: rgba(0, 0, 0, .1);
}

.uk-navbar-nav>li>a:active {
    background-color: #00A8E6;
    color: #fff;
    outline: 0;
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .05);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
    border-left-color: rgba(0, 0, 0, .1);
    border-right-color: rgba(0, 0, 0, .1);
    border-top-color: rgba(0, 0, 0, .2);
}

.uk-contrast .uk-nav-side>li>a {
    color: #aaa;
}

.uk-contrast .uk-nav-side>li>a:focus, .uk-contrast .uk-nav-side>li>a:hover {
    background: transparent;
    color: #fff;
    text-shadow: none;
}

.kitty-teaser {
    background: linear-gradient(#000, #444);
    border: 0;
}

.uk-panel-hover:hover {
    background: linear-gradient(#000, #444);
}

.kitty-teaser h2 {
    line-height: 1.1em;
}

.kitty-teaser h2 a {
    color: white;
    font-size: 22px;
    line-height: 1.1em;
}

.kitty-teaser>.uk-panel-teaser {
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
}

.uk-panel-hover {
    padding: 0;
}

.uk-panel-hover:hover {
    background: #fafafa;
    color: #999;
}

.uk-panel-hover:hover h2 a {
    color: #999;
}

.uk-panel-hover:hover h2 a:hover {
    text-decoration: none;
}

.field--type-image {
    margin-bottom: 15px;
}

.qodecta input {
    margin-bottom: 15px;
}

.topslidebg {
    background-image: url(../img/frontback.jpg?3);
    background-position: center bottom;
    min-height: 800px;
}

.uk-navbar-attached .uk-navbar-nav>li>a {
    border-radius: 4px !important;
}

.uk-navbar-attached {
    border: 0;
}

.uk-navbar-nav>li {
    margin-right: 4px;
}

.uk-navbar-nav>li.uk-open>a {
    background-color: #0099bb;
    outline: 0;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.uk-nav-navbar>li>a:focus, .uk-nav-navbar>li>a:hover {
    background: #0099bb;
    color: #fff;
    outline: 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .05);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
}

.uk-navbar-nav>li>a:active {
    background-color: #0099bb;
    color: #fff;
    outline: 0;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

#block-platinum-main-menu {
    margin-top: 28px;
}

.region.region-mainmenu {
    background: #0099bb;
    float: left;
    margin-top: -10px;
}

.uikitty-login .uk-navbar-brand {
    float: none;
    margin-bottom: 2em;
}


/*
 * contextual hover smaller
 */

.contextual .trigger {
    background-size: 10px 10px;
    height: 18px !important;
    width: 18px !important;
}


/*
 * Uikitty Login full-viewport
 */

body.uikitty-login {
    background: url(../img/loginback.jpg) #121212;
    background-size: cover;
    background-position: center center;
}

.uikitty-loginback {
    background: #030303;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
}

.uikitty-login .uk-breadcrumb {
    background: rgba(0, 0, 0, 0.1);
}

.uikitty-login h1.page-title {
    margin-top: .8em;
    margin-bottom: 1em;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.uikitty-login .description {
    display: none;
}

.uikitty-login input {
    margin-bottom: 1em;
}

.uikitty-login label {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    margin-bottom: 4px;
}

.uikitty-login .uk-subnav {
    margin-bottom: 0;
    margin-left: -2px;
}

.uikitty-login .uk-subnav-pill>.uk-active {
    display: none;
}

.uikitty-login .uk-subnav-pill>.uk-active>* {
    background: #030303;
}

.uikitty-login .uk-subnav-pill>*>* {
    border-radius: 0;
    padding: 0;
    margin-top: 3px;
    background: transparent;
    color: #aaa;
}

.uikitty-login .uk-subnav-pill>.uk-active>a {
    border-top: 3px solid #F015F8;
    margin-top: 0;
}

.uikitty-login .uk-subnav-pill>*>a:hover {
    color: #eee;
}

.uikitty-login .uk-subnav>* {
    padding-left: 2px;
}

.uikitty-powered.uk-contrast span {
    color: rgba(255, 255, 255, 0.6);
}

.uk-contrast a.uk-text-middle {
    color: white;
}

.bc-widewhite .uk-big-bottom {
    margin-bottom: 100px;
}

.page-node-21 {
    background-color: #00b6e8;
    color: white;
}

.page-node-21 h1, .page-node-21 h2 {
    color: white;
}

.med-dark {
    background-color: #5c6062;
}

.med-dark .text-formatted p {
    color: #b0b1b1;
    line-height: 2em;
}

.med-dark .text-formatted p strong {
    color: #d5d6d6;
}

#offcanvas .uk-navbar-brand {
    position: absolute;
    padding: 15px 30px 0 15px;
    height: 84px;
    background: #333;
    top: 0px;
    margin-top: 0;
}

#offcanvas .uk-navbar-brand img {
    width: 60px;
    height: 25px;
}

.uk-offcanvas-bar {
    padding-top: 64px;
}

#offcanvas .uk-navbar-brand:before, .uk-navbar-content:before, #offcanvas .uk-navbar-toggle:before {
    display: none;
}

#offcanvas .uikitty-search {
    padding-left: 15px;
    display: block;
    background: #333 none repeat scroll 0 0;
    display: block;
    margin: 0;
    overflow: hidden;
    box-shadow: none;
}

.uk-nav-dropdown>li>a:focus, .uk-nav-dropdown>li>a:hover {
    background-color: #0099bb;
}

.uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus {
    background-color: transparent;
    color: #242424;
    outline: 0;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.language {
    margin-top: 10px;
}

.accountmenu {
    margin-top: 5px;
}

.pageheadbg {
    background-image: url(../img/backpage.png);
    min-height: 292px;
}

.blackback {
    background-color: #202020;
}

.inset-header {
    box-shadow: inset 0 -10px 10px 0 rgba(0, 0, 0, 0.09);
    height: 10px;
    margin-top: -10px;
}

.searchbar, .uk-content-back {
    background-color: #3E3E3E;
}

.uk-dropdown {
    background: rgba(0, 0, 0, 0.5);
    color: #ccc;
    font-size: 1rem;
    vertical-align: top;
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
}

.uk-nav-dropdown>li>a {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: none;
}

.feed-icons {
    display: none;
}


/*
 * remove focus ring
 */

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

a, a:visited, a:focus, a:active, a:hover {
    outline: 0 none !important;
}

@media only screen and (max-width: 767px) {
    .bc-panel h2 {
        font-size: 40px;
    }
    .field--name-field-arrow-img {
        margin-left: -20px;
    }
}


/* end media query max 767 */

@media only screen and (min-device-width: 768px) {
    #block-contentmanagement {
        background-position: left top;
    }
    .bc-panel>.uk-position-cover {
        right: 260px;
    }
    .field--name-field-arrow-img {
        margin-left: -50px;
    }
}


/* end media query max 768 */

@media (min-width: 1220px) {}


/* end media query max 768 */
