<div class="uk-clearfix">
  <div class="uk-float-left uk-margin-right">
    <img alt="Qode One" data-entity-type="file" src="{{ base_path ~ directory }}/logo.svg?112">
  </div>
  <img alt="drupal" data-entity-type="file" src="{{ base_path ~ directory }}/img/drupal.png" class="drupal">
  <p>© 2017 Copyright
    <span class="site_name">{{ site_name }}</span>. All rights reserved.
  </p>
  {% include '@platinum/includes/powered.html.twig' %}
</div>
