{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'uk-width-medium-1-2',
    'uk-width-large-1-4',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
  <div class="uk-margin-top">
    <a href="https://github.com/qodeone" class="uk-icon-hover uk-icon-large uk-margin-small-right uk-icon-github"></a>
    <a href="https://twitter.com/qodeone" class="uk-icon-hover uk-icon-large uk-margin-small-right uk-icon-twitter"></a>
    <a href="https://www.linkedin.com/company/qode-one" class="uk-icon-hover uk-icon-large uk-margin-small-right uk-icon-linkedin"></a>
    <a href="https://www.drupal.org/qode-one" class="uk-icon-hover uk-icon-large uk-margin-small-right uk-icon-drupal"></a>
  </div>
</div>
