{% extends "@classy/block/block--search-form-block.html.twig" %}
{#
/**
 * @file
 * Platinum's theme implementation for a search form block. Extends Classy's
 * search form block template.
 *
 * Available variables:
 * - content: The content of this block.
 * - content_attributes: A list of HTML attributes applied to the main content
 *   tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see search_preprocess_block()
 *
 * 
 */
#}
{% block content %}
  <div{{ content_attributes.addClass('uikitty-search', 'uk-nav', 'uk-margin-bottom', 'uk-margin-top', 'uk-clearfix') }}>
    {{ parent() }}
  </div>
{% endblock %}
